* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: gray;
  font-family: "Josefin Sans", sans-serif; }

header {
  background-color: #a12e2e; }
  header .title {
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 10px;
    justify-content: flex-start;
    align-items: center; }
    header .title .logo {
      width: 40px;
      height: 40px; }
    header .title .titulo {
      font-size: 25px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 2px 2px #555454;
      padding-left: 10px;
      margin-bottom: 0; }
  header .navbar {
    justify-content: flex-end;
    padding-top: 0; }
    header .navbar .navbar-toggler {
      background-color: white;
      opacity: 60%; }
    header .navbar .navbar-nav {
      background-color: white;
      opacity: 60%; }
      header .navbar .navbar-nav .nav-link {
        padding: 2px 15px;
        color: #000000;
        font-size: 12x; }
      header .navbar .navbar-nav #nav-carrito {
        background-color: black; }
        header .navbar .navbar-nav #nav-carrito img {
          width: 22px; }
    header .navbar li a:hover {
      background-color: #ad6868;
      color: #000000; }

.mainContainerHome {
  background-image: url("../Multimedia/hollywood-cover.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .mainContainerHome .main-home {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mainContainerHome .main-home h2 {
      font-size: 1.5em;
      text-align: center;
      color: #000000;
      background-color: rgba(255, 255, 255, 0.822); }
  .mainContainerHome .asideHome {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center; }
    .mainContainerHome .asideHome .fa {
      padding: 5px;
      width: auto;
      font-size: 10px;
      text-align: center;
      text-decoration: none; }
    .mainContainerHome .asideHome .fa:hover {
      transform: scale(1.1); }
    .mainContainerHome .asideHome .fa-facebook, .mainContainerHome .asideHome .fa-twitter, .mainContainerHome .asideHome .fa-instagram {
      background: #3B5998;
      color: #ffffff; }
    .mainContainerHome .asideHome .fa-twitter {
      background: #55ACEE; }
    .mainContainerHome .asideHome .fa-instagram {
      background: #125688; }

.arrow {
  display: none; }

.mainContainerPages {
  background-image: url("../Multimedia/hollywood-cover.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .mainContainerPages .tituloPages h2 {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 10px; }
  .mainContainerPages .tituloPages p {
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0; }
  .mainContainerPages .container-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .mainContainerPages .container-img a {
      color: white;
      text-decoration: none; }
      .mainContainerPages .container-img a div {
        padding: 10px; }
        .mainContainerPages .container-img a div p {
          background-color: rgba(255, 255, 255, 0.651);
          text-align: center;
          margin: 0;
          color: #000000;
          font-size: 14px; }
        .mainContainerPages .container-img a div img {
          width: 150px;
          height: 100px; }
  .mainContainerPages .asidePages {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    align-self: center; }
    .mainContainerPages .asidePages .fa {
      padding: 5px;
      width: auto;
      font-size: 10px;
      text-align: center;
      text-decoration: none; }
    .mainContainerPages .asidePages .fa:hover {
      transform: scale(1.1); }
    .mainContainerPages .asidePages .fa-facebook, .mainContainerPages .asidePages .fa-twitter, .mainContainerPages .asidePages .fa-instagram {
      background: #3B5998;
      color: #ffffff; }
    .mainContainerPages .asidePages .fa-twitter {
      background: #55ACEE; }
    .mainContainerPages .asidePages .fa-instagram {
      background: #125688; }

.tours-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem; }
  .tours-mobile .carousel .carousel-inner .carousel-item .card {
    width: 18rem; }

.tours-desktop {
  display: none; }

.form {
  background-image: url("../Multimedia/hollywood-cover.webp");
  background-repeat: no-repeat;
  background-size: cover; }
  .form .formulario {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; }
    .form .formulario .formContacto fieldset {
      margin: 10px;
      width: auto; }
      .form .formulario .formContacto fieldset .form-label {
        margin-top: .5rem; }
      .form .formulario .formContacto fieldset .form-select {
        width: fit-content; }
      .form .formulario .formContacto fieldset textarea {
        resize: both; }

.piePaginaHome {
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #808080;
  padding: 10px 0;
  line-height: 0; }
  .piePaginaHome a {
    color: white;
    display: block; }
  .piePaginaHome p {
    color: white; }

.volverInicio {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #808080; }
  .volverInicio a {
    color: white; }
  .volverInicio p {
    color: white; }

.paginaError {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px 10px 50px 10px;
  border: 10px solid #ffffff; }
  .paginaError h1 {
    font-size: 1.5em;
    text-align: center; }
  .paginaError .tristeza {
    width: 40%; }

.footer404 {
  text-align: center;
  padding-bottom: 30px; }
  .footer404 a {
    color: #000000; }

.carrito {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 300px;
  justify-items: center;
  align-items: center; }
  .carrito h2 {
    color: white;
    font-size: 20px; }

@media only screen and (min-width: 576px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px; }
    header .title {
      padding: 0; }
      header .title .titulo {
        font-size: 20px; }
    header .navbar {
      padding: 0; }
      header .navbar .navbar-nav {
        background-color: transparent;
        opacity: 100%; }
        header .navbar .navbar-nav .nav-link {
          padding: 0 5px;
          font-size: 12px;
          color: white; }
        header .navbar .navbar-nav #nav-carrito {
          background-color: transparent; }
          header .navbar .navbar-nav #nav-carrito img {
            width: 18px; }
  .mainContainerHome .piePaginaHome {
    grid-area: footer;
    line-height: 0.5;
    font-size: 16px; }
  .mainContainerPages .tituloPages h2 {
    font-size: 25px;
    padding-top: 20px; }
  .mainContainerPages .tituloPages p {
    padding: 20px; }
  .mainContainerPages .container-img {
    flex-direction: row;
    flex-wrap: wrap; }
  .mainContainerPages .volverInicio {
    font-size: 16px; }
  .tours-mobile .carousel .carousel-inner .carousel-item .card {
    width: 25rem; }
  .formContacto fieldset {
    width: 450px; }
  .carrito {
    grid-template-rows: 50px 400px; }
    .carrito h2 {
      color: white;
      font-size: 25px;
      padding-top: 20px; } }

@media only screen and (min-width: 768px) {
  .mainContainerHome {
    height: 550px; }
  .mainContainerPages .container-img a {
    color: white;
    text-decoration: none; }
    .mainContainerPages .container-img a div img {
      width: 230px;
      height: 150px; }
  .volverInicio {
    grid-area: pie; }
  .tours-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; }
    .tours-mobile .carousel .carousel-inner .carousel-item .card {
      width: 22rem; }
  .formContacto {
    border-radius: 20px;
    border: 1px solid #000000; }
  .paginaError {
    margin: 60px 10px 30px 10px; }
    .paginaError h1 {
      font-size: 2em; }
  .footer404 {
    font-size: 20px; } }

@media only screen and (min-width: 992px) {
  header {
    height: 70px; }
    header .title {
      padding: 0 5px; }
      header .title .logo {
        width: 55px;
        height: 55px; }
      header .title .titulo {
        font-size: 30px; }
    header .navbar {
      padding: 0; }
      header .navbar .navbar-nav .nav-link {
        padding: 0 12px;
        font-size: 18px; }
      header .navbar .navbar-nav #nav-carrito img {
        width: 28px; }
  .mainContainerHome {
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 565px 50px;
    grid-template-areas: "main" "footer"; }
    .mainContainerHome .main-home {
      grid-area: main;
      align-self: center; }
    .mainContainerHome .asideHome {
      flex-direction: column;
      position: fixed;
      right: 10px;
      padding-top: 30vh; }
      .mainContainerHome .asideHome .fa {
        padding: 10px;
        width: 35px;
        font-size: inherit; }
  @keyframes translate {
    100% {
      transform: translate(0, 0); }
    50% {
      transform: translate(0, 25px); } }
  .arrow {
    display: initial; }
    .arrow img {
      width: 3rem;
      position: fixed;
      top: 80px;
      right: 5px;
      animation: translate 2s infinite 0.2s; }
  @keyframes translate {
    100% {
      transform: translate(0, 0); }
    50% {
      transform: translate(0, 20px); } }
  .mainContainerPages {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto 70px;
    grid-template-areas: "titulo" "mainPages" "pie"; }
    .mainContainerPages .tituloPages {
      grid-area: titulo;
      align-self: center; }
      .mainContainerPages .tituloPages p {
        padding: 20px 100px 20px 100px; }
    .mainContainerPages .container-img {
      grid-area: mainPages;
      margin-bottom: 30px; }
      .mainContainerPages .container-img a {
        color: white;
        text-decoration: none; }
        .mainContainerPages .container-img a div {
          padding: 20px; }
          .mainContainerPages .container-img a div p {
            font-size: 16px; }
        .mainContainerPages .container-img a div:hover {
          transform: scale(1.05); }
        .mainContainerPages .container-img a .hvr-trim, .mainContainerPages .container-img a .hvr-trim-location {
          display: inline-block;
          vertical-align: middle;
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          position: relative; }
        .mainContainerPages .container-img a .hvr-trim:before, .mainContainerPages .container-img a .hvr-trim-location:before {
          content: '';
          position: absolute;
          border: #ffffff solid 2px;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          opacity: 0;
          transition-property: opacity; }
        .mainContainerPages .container-img a .hvr-trim:hover:before, .mainContainerPages .container-img a .hvr-trim-location:hover:before,
        .mainContainerPages .container-img a .hvr-trim:focus:before,
        .mainContainerPages .container-img a .hvr-trim-location:focus:before,
        .mainContainerPages .container-img a .hvr-trim:active:before,
        .mainContainerPages .container-img a .hvr-trim-location:active:before {
          opacity: 1; }
        .mainContainerPages .container-img a .hvr-trim-location:before {
          border: #990100 solid 2px; }
    .mainContainerPages .asidePages {
      flex-direction: column;
      position: fixed;
      right: 10px;
      padding-top: 20px;
      animation: translate 3s infinite 0.2s; }
      .mainContainerPages .asidePages .fa {
        padding: 10px;
        width: 35px;
        font-size: inherit; }
  .tours-mobile {
    display: none; }
  .tours-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .tours-desktop .card {
      width: 20rem;
      margin: 1rem; }
      .tours-desktop .card .card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between; }
  .form .formulario {
    animation: form 2s forwards; }
  @keyframes form {
    0% {
      transform: translate(-400px, 0); }
    50% {
      transform: translate(200px, 0); }
    100% {
      transform: translate(0, 0); } }
    .form .formulario .formContacto fieldset {
      width: 500px; }
  .volverInicio {
    grid-area: pie;
    font-size: 16px; }
  .paginaError h1 {
    font-size: 50px; }
  .paginaError .tristeza {
    width: 25%; }
  .carrito {
    grid-template-rows: 50px 500px; }
    .carrito section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px; }
      .carrito section #compra {
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 5px 5px black;
        background-color: rgba(255, 255, 255, 0.774);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%; }
        .carrito section #compra p {
          margin: 0;
          font-size: 18px;
          padding: 10px 0; }
      .carrito section #pago {
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 5px 5px black;
        background-color: rgba(255, 255, 255, 0.774);
        height: 4rem;
        display: flex;
        align-items: center; }
        .carrito section #pago p {
          text-align: center;
          margin: 0;
          padding: 0 5px; } }
