* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black;
  font-family: "Josefin Sans", sans-serif; }

header {
  background-color: #a12e2e; }
  header .title {
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 10px;
    justify-content: flex-start;
    align-items: center; }
    header .title .logo {
      width: 40px;
      height: 40px; }
    header .title .titulo {
      font-size: 25px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 2px 2px black;
      padding-left: 10px;
      margin-bottom: 0; }
  header .navbar {
    justify-content: flex-end;
    padding-top: 0; }
    header .navbar .navbar-toggler {
      background-color: #ffffff;
      opacity: 60%; }
    header .navbar .navbar-nav {
      background-color: #ffffff;
      opacity: 60%; }
      header .navbar .navbar-nav .nav-link {
        padding: 2px 15px;
        color: #000000;
        font-size: 12x; }
      header .navbar .navbar-nav .nav-link:hover {
        color: #ffffff; }
      header .navbar .navbar-nav #nav-carrito {
        background-color: #000000; }
        header .navbar .navbar-nav #nav-carrito img {
          width: 22px; }
    header .navbar li a:hover {
      background-color: #ad6868;
      color: #000000; }

.mainContainerHome {
  background-image: url("../Multimedia/hollywood-cover-home.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .mainContainerHome .main-home {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mainContainerHome .main-home h2 {
      font-size: 1.5em;
      text-align: center;
      color: #000000;
      background-color: rgba(255, 255, 255, 0.822); }

.mainContainerPages {
  background-image: url("../Multimedia/hollywood-cover-fade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .mainContainerPages .tituloPages h2 {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    padding-top: 10px; }
  .mainContainerPages .tituloPages p {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-bottom: 0; }
  .mainContainerPages .container-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .mainContainerPages .container-img a {
      color: #ffffff;
      text-decoration: none; }
      .mainContainerPages .container-img a div {
        padding: 10px; }
        .mainContainerPages .container-img a div p {
          background-color: rgba(255, 255, 255, 0.651);
          text-align: center;
          margin: 0;
          color: #000000;
          font-size: 14px; }
        .mainContainerPages .container-img a div img {
          width: 150px;
          height: 100px; }

.tours-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem; }
  .tours-mobile .carousel .carousel-inner .carousel-item .card {
    width: 18rem; }

.tours-desktop {
  display: none; }

.form {
  background-image: url("../Multimedia/hollywood-cover-home.webp");
  background-repeat: no-repeat;
  background-size: cover; }
  .form .formulario {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; }
    .form .formulario .formContacto {
      background-color: #b9afaf69; }
      .form .formulario .formContacto fieldset {
        margin: 10px;
        width: auto; }
        .form .formulario .formContacto fieldset .form-label {
          margin-top: .5rem; }
        .form .formulario .formContacto fieldset .form-select {
          width: fit-content; }
        .form .formulario .formContacto fieldset textarea {
          resize: both; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 100px; }
  .footer #soMeIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px; }
    .footer #soMeIcons a {
      margin: 0 5px;
      text-decoration: none; }
      .footer #soMeIcons a img {
        width: 1.5rem; }
  .footer p {
    font-size: 12px;
    color: #ffffff;
    margin: 0; }
    .footer p a {
      color: lightsalmon; }

#arrowUp {
  display: none; }

.paginaError {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px 10px 50px 10px;
  border: 10px solid #ffffff; }
  .paginaError h1 {
    font-size: 1.5em;
    text-align: center; }
  .paginaError .tristeza {
    width: 40%; }

.footer404 {
  text-align: center;
  padding-bottom: 30px; }
  .footer404 a {
    color: #000000; }

.carrito {
  background-color: #ffffff;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nombre-tour" "detalle" "confirmar"; }
  .carrito h2 {
    margin: 10px 0;
    grid-area: nombre-tour;
    justify-self: center;
    color: #000000;
    font-size: 1.5rem;
    align-self: center;
    border-bottom: 1px solid lightgrey; }
  .carrito #detalle-carrito {
    height: fit-content; }
    .carrito #detalle-carrito .no-tours {
      text-align: center; }
    .carrito #detalle-carrito p {
      margin: 0; }
    .carrito #detalle-carrito .valor-total {
      margin: 0;
      font-size: 1.2rem;
      padding-top: 20px;
      margin-left: 10px;
      border-top: 1px solid lightgray; }
    .carrito #detalle-carrito .carrito-tour {
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: auto;
      grid-template-areas: " detalles opciones";
      align-items: center;
      margin: 0 10px 50px 10px; }
      .carrito #detalle-carrito .carrito-tour .detalles-tour {
        grid-area: detalles; }
        .carrito #detalle-carrito .carrito-tour .detalles-tour p {
          font-size: 1rem;
          margin: 0; }
        .carrito #detalle-carrito .carrito-tour .detalles-tour .detail {
          font-size: 0.8rem;
          color: #808080; }
        .carrito #detalle-carrito .carrito-tour .detalles-tour .total-tour {
          font-size: 1rem;
          margin-top: 10px;
          padding-top: 10px;
          color: #a12e2e; }
      .carrito #detalle-carrito .carrito-tour .opciones {
        grid-area: opciones;
        justify-self: center; }
        .carrito #detalle-carrito .carrito-tour .opciones button {
          font-size: 0.8rem; }
  .carrito #confirm-user {
    grid-area: confirmar;
    margin: 30px 10px;
    height: 250px; }
    .carrito #confirm-user .no-display {
      display: none; }
    .carrito #confirm-user form .ingreso-email {
      background-color: #cedbee;
      padding: 10px; }
      .carrito #confirm-user form .ingreso-email label {
        font-size: 0.7rem; }
        .carrito #confirm-user form .ingreso-email label span {
          color: red; }
      .carrito #confirm-user form .ingreso-email input {
        font-size: 0.7rem;
        display: inline-block;
        width: 100%; }
      .carrito #confirm-user form .ingreso-email .suscripcion {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        align-items: flex-end; }
        .carrito #confirm-user form .ingreso-email .suscripcion label {
          font-size: 0.5rem;
          padding-left: 5px; }
        .carrito #confirm-user form .ingreso-email .suscripcion input {
          display: block;
          width: auto; }
    .carrito #confirm-user form .aceptar {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #d3d3d3;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      .carrito #confirm-user form .aceptar .checkboxes label {
        font-size: 0.7rem; }
        .carrito #confirm-user form .aceptar .checkboxes label span {
          color: #ff0000; }
      .carrito #confirm-user form .aceptar .checkboxes .checkboxTerms {
        display: flex;
        flex-direction: row;
        align-items: flex-start; }
        .carrito #confirm-user form .aceptar .checkboxes .checkboxTerms input {
          margin-left: 5px; }
      .carrito #confirm-user form .aceptar .checkboxes .checkboxPrivacy {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 5px; }
        .carrito #confirm-user form .aceptar .checkboxes .checkboxPrivacy input {
          margin-left: 5px; }
      .carrito #confirm-user form .aceptar .btn-continuar button {
        font-size: 0.8rem;
        width: 10rem; }
  .carrito #data-user .modal-header {
    display: flex;
    flex-direction: column;
    padding: 0.5rem; }
    .carrito #data-user .modal-header .modal-title {
      font-size: 1rem; }
    .carrito #data-user .modal-header p {
      font-size: 0.7rem;
      margin: 0 0 0.3rem 0; }
  .carrito #data-user .modal-body .form-1 {
    font-size: 0.7rem;
    margin: 0 10px; }
    .carrito #data-user .modal-body .form-1 span {
      color: red; }
    .carrito #data-user .modal-body .form-1 .grid-form {
      margin-top: 10px;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      grid-template-areas: "column1 column2" "modal-footer modal-footer"; }
      .carrito #data-user .modal-body .form-1 .grid-form .column-1,
      .carrito #data-user .modal-body .form-1 .grid-form .column-2 {
        display: flex;
        flex-direction: column; }
        .carrito #data-user .modal-body .form-1 .grid-form .column-1 input,
        .carrito #data-user .modal-body .form-1 .grid-form .column-2 input {
          margin: 2px 10px 10px 0;
          height: 1.2rem; }
        .carrito #data-user .modal-body .form-1 .grid-form .column-1 select,
        .carrito #data-user .modal-body .form-1 .grid-form .column-2 select {
          margin: 2px 10px 10px 0;
          height: 1.2rem; }
      .carrito #data-user .modal-body .form-1 .grid-form .modal-footer {
        grid-area: modal-footer;
        margin-top: 0.5rem;
        padding: 0.5rem 0.5rem 0 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .carrito #data-user .modal-body .form-1 .grid-form .modal-footer button {
          font-size: 0.7rem;
          width: 6rem; }
  .carrito #data-user .modal-body .form-2 {
    display: none;
    margin: 0 10px; }
    .carrito #data-user .modal-body .form-2 h5 {
      font-size: 1rem; }
    .carrito #data-user .modal-body .form-2 .accordion .accordion-item {
      border: none; }
      .carrito #data-user .modal-body .form-2 .accordion .accordion-item .accordion-header {
        margin: 0; }
        .carrito #data-user .modal-body .form-2 .accordion .accordion-item .accordion-header .accordion-btn {
          font-size: 0.7rem;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 1rem 1.25rem;
          color: #212529;
          background-color: #fff;
          border: 0;
          border-radius: 0;
          overflow-anchor: none;
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease; }
          .carrito #data-user .modal-body .form-2 .accordion .accordion-item .accordion-header .accordion-btn img {
            width: 5rem;
            border-radius: 0.5rem; }
          .carrito #data-user .modal-body .form-2 .accordion .accordion-item .accordion-header .accordion-btn label .fa-credit-card {
            color: #747171; }
          .carrito #data-user .modal-body .form-2 .accordion .accordion-item .accordion-header .accordion-btn label .fa-money-bill {
            color: #217721; }
    .carrito #data-user .modal-body .form-2 .accordion .accordion-body {
      font-size: 0.7rem; }
      .carrito #data-user .modal-body .form-2 .accordion .accordion-body .container-icons {
        display: flex;
        justify-content: flex-end; }
        .carrito #data-user .modal-body .form-2 .accordion .accordion-body .container-icons i {
          padding: 0 0.2rem;
          font-size: 1rem; }
        .carrito #data-user .modal-body .form-2 .accordion .accordion-body .container-icons .fa-cc-visa {
          color: navy; }
        .carrito #data-user .modal-body .form-2 .accordion .accordion-body .container-icons .fa-cc-mastercard {
          color: red; }
        .carrito #data-user .modal-body .form-2 .accordion .accordion-body .container-icons .fa-cc-amex {
          color: blue; }
      .carrito #data-user .modal-body .form-2 .accordion .accordion-body .card-details input {
        display: block;
        margin-bottom: 0.3rem; }
      .carrito #data-user .modal-body .form-2 .accordion .accordion-body .card-details label {
        margin-top: 0.3rem; }
    .carrito #data-user .modal-body .form-2 .btn-checkout {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem; }
      .carrito #data-user .modal-body .form-2 .btn-checkout button {
        font-size: 0.7rem; }

.no-alert {
  display: none; }

.alert {
  padding: 3rem 0;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.carrito-no-display {
  display: none; }

.container-tour-LOTR, .container-tour-HA, .container-tour-HP, .container-tour-GOT, .container-tour-EPL, .container-tour-AM {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header-tour" "main-tour"; }
  .container-tour-LOTR .header-tour, .container-tour-HA .header-tour, .container-tour-HP .header-tour, .container-tour-GOT .header-tour, .container-tour-EPL .header-tour, .container-tour-AM .header-tour {
    background-image: url("../Multimedia/tours/hobbiton.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: header-tour; }
    .container-tour-LOTR .header-tour h2, .container-tour-HA .header-tour h2, .container-tour-HP .header-tour h2, .container-tour-GOT .header-tour h2, .container-tour-EPL .header-tour h2, .container-tour-AM .header-tour h2 {
      font-size: 2rem;
      color: #ffffff;
      font-weight: bold;
      padding-left: 3rem;
      text-shadow: 5px 5px 8px black; }
    .container-tour-LOTR .header-tour p, .container-tour-HA .header-tour p, .container-tour-HP .header-tour p, .container-tour-GOT .header-tour p, .container-tour-EPL .header-tour p, .container-tour-AM .header-tour p {
      font-size: 1rem;
      color: #ffffff;
      font-weight: bold;
      padding-left: 3rem;
      text-shadow: 5px 5px 8px black; }
  .container-tour-LOTR .main-tour, .container-tour-HA .main-tour, .container-tour-HP .main-tour, .container-tour-GOT .main-tour, .container-tour-EPL .main-tour, .container-tour-AM .main-tour {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "description" "booking" "back-tours";
    background-color: #ffffff; }
    .container-tour-LOTR .main-tour .description, .container-tour-HA .main-tour .description, .container-tour-HP .main-tour .description, .container-tour-GOT .main-tour .description, .container-tour-EPL .main-tour .description, .container-tour-AM .main-tour .description {
      grid-area: description;
      justify-self: flex-start;
      padding: 2rem 2rem; }
      .container-tour-LOTR .main-tour .description h3, .container-tour-HA .main-tour .description h3, .container-tour-HP .main-tour .description h3, .container-tour-GOT .main-tour .description h3, .container-tour-EPL .main-tour .description h3, .container-tour-AM .main-tour .description h3 {
        color: gray;
        margin-bottom: 3rem; }
    .container-tour-LOTR .main-tour .booking, .container-tour-HA .main-tour .booking, .container-tour-HP .main-tour .booking, .container-tour-GOT .main-tour .booking, .container-tour-EPL .main-tour .booking, .container-tour-AM .main-tour .booking {
      grid-area: booking;
      justify-self: center;
      align-self: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 30% 30% 20% 20%;
      grid-template-areas: "button" "tour-details" "sub-text" "button-dispo";
      align-items: center;
      justify-items: center;
      width: 300px;
      height: 300px;
      box-shadow: 1px 1px 10px 3px lightgray; }
      .container-tour-LOTR .main-tour .booking .button-reserva, .container-tour-HA .main-tour .booking .button-reserva, .container-tour-HP .main-tour .booking .button-reserva, .container-tour-GOT .main-tour .booking .button-reserva, .container-tour-EPL .main-tour .booking .button-reserva, .container-tour-AM .main-tour .booking .button-reserva, .container-tour-LOTR .main-tour .booking .button-dispo, .container-tour-HA .main-tour .booking .button-dispo, .container-tour-HP .main-tour .booking .button-dispo, .container-tour-GOT .main-tour .booking .button-dispo, .container-tour-EPL .main-tour .booking .button-dispo, .container-tour-AM .main-tour .booking .button-dispo {
        grid-area: button;
        background-color: #c41f1f;
        color: #ffffff;
        font-size: 1.8rem;
        width: 90%;
        height: 4rem;
        border: transparent;
        border-radius: 5px; }
      .container-tour-LOTR .main-tour .booking .tour-details, .container-tour-HA .main-tour .booking .tour-details, .container-tour-HP .main-tour .booking .tour-details, .container-tour-GOT .main-tour .booking .tour-details, .container-tour-EPL .main-tour .booking .tour-details, .container-tour-AM .main-tour .booking .tour-details {
        grid-area: tour-details;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        border-top: 1px solid #adadad;
        border-bottom: 1px solid #adadad;
        line-height: 1rem; }
        .container-tour-LOTR .main-tour .booking .tour-details .idiomas, .container-tour-HA .main-tour .booking .tour-details .idiomas, .container-tour-HP .main-tour .booking .tour-details .idiomas, .container-tour-GOT .main-tour .booking .tour-details .idiomas, .container-tour-EPL .main-tour .booking .tour-details .idiomas, .container-tour-AM .main-tour .booking .tour-details .idiomas, .container-tour-LOTR .main-tour .booking .tour-details .horarios, .container-tour-HA .main-tour .booking .tour-details .horarios, .container-tour-HP .main-tour .booking .tour-details .horarios, .container-tour-GOT .main-tour .booking .tour-details .horarios, .container-tour-EPL .main-tour .booking .tour-details .horarios, .container-tour-AM .main-tour .booking .tour-details .horarios, .container-tour-LOTR .main-tour .booking .tour-details .precio, .container-tour-HA .main-tour .booking .tour-details .precio, .container-tour-HP .main-tour .booking .tour-details .precio, .container-tour-GOT .main-tour .booking .tour-details .precio, .container-tour-EPL .main-tour .booking .tour-details .precio, .container-tour-AM .main-tour .booking .tour-details .precio {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 20px;
          border-right: 1px solid #adadad;
          line-height: 1.5rem; }
          .container-tour-LOTR .main-tour .booking .tour-details .idiomas p, .container-tour-HA .main-tour .booking .tour-details .idiomas p, .container-tour-HP .main-tour .booking .tour-details .idiomas p, .container-tour-GOT .main-tour .booking .tour-details .idiomas p, .container-tour-EPL .main-tour .booking .tour-details .idiomas p, .container-tour-AM .main-tour .booking .tour-details .idiomas p, .container-tour-LOTR .main-tour .booking .tour-details .horarios p, .container-tour-HA .main-tour .booking .tour-details .horarios p, .container-tour-HP .main-tour .booking .tour-details .horarios p, .container-tour-GOT .main-tour .booking .tour-details .horarios p, .container-tour-EPL .main-tour .booking .tour-details .horarios p, .container-tour-AM .main-tour .booking .tour-details .horarios p, .container-tour-LOTR .main-tour .booking .tour-details .precio p, .container-tour-HA .main-tour .booking .tour-details .precio p, .container-tour-HP .main-tour .booking .tour-details .precio p, .container-tour-GOT .main-tour .booking .tour-details .precio p, .container-tour-EPL .main-tour .booking .tour-details .precio p, .container-tour-AM .main-tour .booking .tour-details .precio p {
            margin: 0;
            font-weight: bold; }
          .container-tour-LOTR .main-tour .booking .tour-details .idiomas .sub-text, .container-tour-HA .main-tour .booking .tour-details .idiomas .sub-text, .container-tour-HP .main-tour .booking .tour-details .idiomas .sub-text, .container-tour-GOT .main-tour .booking .tour-details .idiomas .sub-text, .container-tour-EPL .main-tour .booking .tour-details .idiomas .sub-text, .container-tour-AM .main-tour .booking .tour-details .idiomas .sub-text, .container-tour-LOTR .main-tour .booking .tour-details .horarios .sub-text, .container-tour-HA .main-tour .booking .tour-details .horarios .sub-text, .container-tour-HP .main-tour .booking .tour-details .horarios .sub-text, .container-tour-GOT .main-tour .booking .tour-details .horarios .sub-text, .container-tour-EPL .main-tour .booking .tour-details .horarios .sub-text, .container-tour-AM .main-tour .booking .tour-details .horarios .sub-text, .container-tour-LOTR .main-tour .booking .tour-details .precio .sub-text, .container-tour-HA .main-tour .booking .tour-details .precio .sub-text, .container-tour-HP .main-tour .booking .tour-details .precio .sub-text, .container-tour-GOT .main-tour .booking .tour-details .precio .sub-text, .container-tour-EPL .main-tour .booking .tour-details .precio .sub-text, .container-tour-AM .main-tour .booking .tour-details .precio .sub-text {
            font-size: 14px;
            color: gray; }
        .container-tour-LOTR .main-tour .booking .tour-details .precio, .container-tour-HA .main-tour .booking .tour-details .precio, .container-tour-HP .main-tour .booking .tour-details .precio, .container-tour-GOT .main-tour .booking .tour-details .precio, .container-tour-EPL .main-tour .booking .tour-details .precio, .container-tour-AM .main-tour .booking .tour-details .precio {
          border-right: none; }
      .container-tour-LOTR .main-tour .booking .locacion, .container-tour-HA .main-tour .booking .locacion, .container-tour-HP .main-tour .booking .locacion, .container-tour-GOT .main-tour .booking .locacion, .container-tour-EPL .main-tour .booking .locacion, .container-tour-AM .main-tour .booking .locacion {
        grid-area: sub-text;
        margin: 0; }
        .container-tour-LOTR .main-tour .booking .locacion p, .container-tour-HA .main-tour .booking .locacion p, .container-tour-HP .main-tour .booking .locacion p, .container-tour-GOT .main-tour .booking .locacion p, .container-tour-EPL .main-tour .booking .locacion p, .container-tour-AM .main-tour .booking .locacion p {
          display: inline; }
      .container-tour-LOTR .main-tour .booking .button-dispo, .container-tour-HA .main-tour .booking .button-dispo, .container-tour-HP .main-tour .booking .button-dispo, .container-tour-GOT .main-tour .booking .button-dispo, .container-tour-EPL .main-tour .booking .button-dispo, .container-tour-AM .main-tour .booking .button-dispo {
        grid-area: button-dispo;
        font-size: 1rem;
        width: 50%;
        height: 2.5rem; }
    .container-tour-LOTR .main-tour a, .container-tour-HA .main-tour a, .container-tour-HP .main-tour a, .container-tour-GOT .main-tour a, .container-tour-EPL .main-tour a, .container-tour-AM .main-tour a {
      grid-area: back-tours;
      justify-self: center;
      font-size: 2rem;
      color: #c41f1f;
      font-weight: bold;
      margin: 3rem 0;
      text-decoration: none; }
  .container-tour-LOTR #exampleModal, .container-tour-HA #exampleModal, .container-tour-HP #exampleModal, .container-tour-GOT #exampleModal, .container-tour-EPL #exampleModal, .container-tour-AM #exampleModal {
    width: 80%;
    height: 80%;
    left: 50px; }
    .container-tour-LOTR #exampleModal .modal-content .modal-header .name-tour, .container-tour-HA #exampleModal .modal-content .modal-header .name-tour, .container-tour-HP #exampleModal .modal-content .modal-header .name-tour, .container-tour-GOT #exampleModal .modal-content .modal-header .name-tour, .container-tour-EPL #exampleModal .modal-content .modal-header .name-tour, .container-tour-AM #exampleModal .modal-content .modal-header .name-tour {
      margin: 0;
      font-size: 1.8rem; }
    .container-tour-LOTR #exampleModal .modal-content .modal-body form div, .container-tour-HA #exampleModal .modal-content .modal-body form div, .container-tour-HP #exampleModal .modal-content .modal-body form div, .container-tour-GOT #exampleModal .modal-content .modal-body form div, .container-tour-EPL #exampleModal .modal-content .modal-body form div, .container-tour-AM #exampleModal .modal-content .modal-body form div {
      margin: 10px 0; }
    .container-tour-LOTR #exampleModal .modal-content .modal-body form label, .container-tour-HA #exampleModal .modal-content .modal-body form label, .container-tour-HP #exampleModal .modal-content .modal-body form label, .container-tour-GOT #exampleModal .modal-content .modal-body form label, .container-tour-EPL #exampleModal .modal-content .modal-body form label, .container-tour-AM #exampleModal .modal-content .modal-body form label,
    .container-tour-LOTR #exampleModal .modal-content .modal-body form input,
    .container-tour-HA #exampleModal .modal-content .modal-body form input,
    .container-tour-HP #exampleModal .modal-content .modal-body form input,
    .container-tour-GOT #exampleModal .modal-content .modal-body form input,
    .container-tour-EPL #exampleModal .modal-content .modal-body form input,
    .container-tour-AM #exampleModal .modal-content .modal-body form input {
      margin: 5px 0; }
    .container-tour-LOTR #exampleModal .modal-content .modal-body form #date, .container-tour-HA #exampleModal .modal-content .modal-body form #date, .container-tour-HP #exampleModal .modal-content .modal-body form #date, .container-tour-GOT #exampleModal .modal-content .modal-body form #date, .container-tour-EPL #exampleModal .modal-content .modal-body form #date, .container-tour-AM #exampleModal .modal-content .modal-body form #date,
    .container-tour-LOTR #exampleModal .modal-content .modal-body form #horario,
    .container-tour-HA #exampleModal .modal-content .modal-body form #horario,
    .container-tour-HP #exampleModal .modal-content .modal-body form #horario,
    .container-tour-GOT #exampleModal .modal-content .modal-body form #horario,
    .container-tour-EPL #exampleModal .modal-content .modal-body form #horario,
    .container-tour-AM #exampleModal .modal-content .modal-body form #horario,
    .container-tour-LOTR #exampleModal .modal-content .modal-body form #idioma,
    .container-tour-HA #exampleModal .modal-content .modal-body form #idioma,
    .container-tour-HP #exampleModal .modal-content .modal-body form #idioma,
    .container-tour-GOT #exampleModal .modal-content .modal-body form #idioma,
    .container-tour-EPL #exampleModal .modal-content .modal-body form #idioma,
    .container-tour-AM #exampleModal .modal-content .modal-body form #idioma,
    .container-tour-LOTR #exampleModal .modal-content .modal-body form #cantidad,
    .container-tour-HA #exampleModal .modal-content .modal-body form #cantidad,
    .container-tour-HP #exampleModal .modal-content .modal-body form #cantidad,
    .container-tour-GOT #exampleModal .modal-content .modal-body form #cantidad,
    .container-tour-EPL #exampleModal .modal-content .modal-body form #cantidad,
    .container-tour-AM #exampleModal .modal-content .modal-body form #cantidad {
      height: 2rem; }
    
    .container-tour-LOTR #exampleModal .modal-content .modal-body form #cantidad,
    .container-tour-HA #exampleModal .modal-content .modal-body form #cantidad,
    .container-tour-HP #exampleModal .modal-content .modal-body form #cantidad,
    .container-tour-GOT #exampleModal .modal-content .modal-body form #cantidad,
    .container-tour-EPL #exampleModal .modal-content .modal-body form #cantidad,
    .container-tour-AM #exampleModal .modal-content .modal-body form #cantidad {
      width: 2.5rem;
      text-align: center; }
    .container-tour-LOTR #exampleModal .modal-content .modal-footer, .container-tour-HA #exampleModal .modal-content .modal-footer, .container-tour-HP #exampleModal .modal-content .modal-footer, .container-tour-GOT #exampleModal .modal-content .modal-footer, .container-tour-EPL #exampleModal .modal-content .modal-footer, .container-tour-AM #exampleModal .modal-content .modal-footer {
      justify-content: space-between; }
      .container-tour-LOTR #exampleModal .modal-content .modal-footer p, .container-tour-HA #exampleModal .modal-content .modal-footer p, .container-tour-HP #exampleModal .modal-content .modal-footer p, .container-tour-GOT #exampleModal .modal-content .modal-footer p, .container-tour-EPL #exampleModal .modal-content .modal-footer p, .container-tour-AM #exampleModal .modal-content .modal-footer p {
        font-size: 1.5rem; }
  .container-tour-LOTR #modal-carrito .modal-body p, .container-tour-HA #modal-carrito .modal-body p, .container-tour-HP #modal-carrito .modal-body p, .container-tour-GOT #modal-carrito .modal-body p, .container-tour-EPL #modal-carrito .modal-body p, .container-tour-AM #modal-carrito .modal-body p {
    margin: 0;
    font-size: 1.5rem;
    text-align: center; }
  .container-tour-LOTR #modal-carrito .modal-footer, .container-tour-HA #modal-carrito .modal-footer, .container-tour-HP #modal-carrito .modal-footer, .container-tour-GOT #modal-carrito .modal-footer, .container-tour-EPL #modal-carrito .modal-footer, .container-tour-AM #modal-carrito .modal-footer {
    justify-content: space-between; }
    .container-tour-LOTR #modal-carrito .modal-footer button a, .container-tour-HA #modal-carrito .modal-footer button a, .container-tour-HP #modal-carrito .modal-footer button a, .container-tour-GOT #modal-carrito .modal-footer button a, .container-tour-EPL #modal-carrito .modal-footer button a, .container-tour-AM #modal-carrito .modal-footer button a {
      color: #ffffff;
      text-decoration: none; }

.container-tour-HA .header-tour {
  background-image: url("../Multimedia/tours/central-park.jpeg"); }

.container-tour-HP .header-tour {
  background-image: url("../Multimedia/tours/millenium-bridge.jpeg"); }

.container-tour-GOT .header-tour {
  background-image: url("../Multimedia/tours/dubrovnik.jpeg"); }

.container-tour-EPL .header-tour {
  background-image: url("../Multimedia/tours/rome.jpeg"); }

.container-tour-AM .header-tour {
  background-image: url("../Multimedia/tours/montmartre.jpeg"); }

@media only screen and (min-width: 576px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px; }
    header .title {
      padding: 0; }
      header .title .titulo {
        font-size: 20px; }
    header .navbar {
      padding: 0; }
      header .navbar .navbar-nav {
        background-color: transparent;
        opacity: 100%; }
        header .navbar .navbar-nav .nav-link {
          padding: 0 5px;
          font-size: 12px;
          color: #ffffff; }
        header .navbar .navbar-nav #nav-carrito {
          background-color: transparent; }
          header .navbar .navbar-nav #nav-carrito img {
            width: 18px; }
  .mainContainerPages .tituloPages h2 {
    font-size: 25px;
    padding-top: 20px; }
  .mainContainerPages .tituloPages p {
    padding: 20px; }
  .mainContainerPages .container-img {
    flex-direction: row;
    flex-wrap: wrap; }
  .tours-mobile .carousel .carousel-inner .carousel-item .card {
    width: 25rem; }
  .formContacto fieldset {
    width: 450px; }
  .carrito h2 {
    justify-self: stretch;
    text-align: center; } }

@media only screen and (min-width: 768px) {
  .navbar .navbar-nav .nav-link:hover {
    background-color: transparent;
    transform: scale(1.2); }
  .mainContainerHome {
    height: 550px; }
  .mainContainerPages .container-img a {
    color: #ffffff;
    text-decoration: none; }
    .mainContainerPages .container-img a div img {
      width: 230px;
      height: 150px; }
  .tours-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; }
    .tours-mobile .carousel .carousel-inner .carousel-item .card {
      width: 22rem; }
  .formContacto {
    border-radius: 20px;
    border: 1px solid #aaa2a2; }
  .paginaError {
    margin: 60px 10px 30px 10px; }
    .paginaError h1 {
      font-size: 2em; }
  .footer404 {
    font-size: 20px; }
  .footer #soMeIcons img:hover {
    transform: scale(1.2); }
  #arrowUp {
    display: block; }
    #arrowUp img {
      width: 3rem;
      position: fixed;
      bottom: 30px;
      right: 12px; }
  .carrito h2 {
    text-align: left;
    margin: 50px 100px; }
  .carrito #detalle-carrito .valor-total {
    margin: 0 100px; }
  .carrito #detalle-carrito .carrito-tour {
    margin: 0 100px 50px 100px; }
    .carrito #detalle-carrito .carrito-tour .opciones button {
      font-size: 1rem; }
  .carrito #confirm-user {
    margin: 50px 100px; }
    .carrito #confirm-user form .ingreso-email label {
      font-size: 1rem; }
    .carrito #confirm-user form .ingreso-email input {
      font-size: 1rem; }
    .carrito #confirm-user form .ingreso-email .suscripcion {
      align-items: flex-start;
      margin-top: 10px; }
      .carrito #confirm-user form .ingreso-email .suscripcion label {
        font-size: 0.7rem; }
    .carrito #confirm-user form .aceptar .checkboxes label {
      font-size: 0.8rem; }
    .carrito #confirm-user form .aceptar .checkboxes .checkboxTerms {
      align-items: center; }
    .carrito #confirm-user form .aceptar .checkboxes .checkboxPrivacy {
      align-items: center; }
    .carrito #confirm-user form .aceptar .btn-continuar button {
      font-size: 1rem;
      width: 10rem; } }

@media only screen and (min-width: 992px) {
  header {
    height: 70px; }
    header .title {
      padding: 0 5px; }
      header .title .logo {
        width: 55px;
        height: 55px; }
      header .title .titulo {
        font-size: 30px; }
    header .navbar {
      padding: 0; }
      header .navbar .navbar-nav .nav-link {
        color: white;
        padding: 0 12px;
        font-size: 18px; }
      header .navbar .navbar-nav #nav-carrito img {
        width: 28px; }
  .mainContainerHome {
    height: 100vh; }
  .mainContainerPages {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto 70px;
    grid-template-areas: "titulo" "mainPages" "pie"; }
    .mainContainerPages .tituloPages {
      grid-area: titulo;
      align-self: center; }
      .mainContainerPages .tituloPages p {
        padding: 20px 100px 20px 100px; }
    .mainContainerPages .container-img {
      grid-area: mainPages;
      margin-bottom: 30px; }
      .mainContainerPages .container-img a {
        color: #ffffff;
        text-decoration: none; }
        .mainContainerPages .container-img a div {
          padding: 20px; }
          .mainContainerPages .container-img a div p {
            font-size: 16px; }
        .mainContainerPages .container-img a div:hover {
          transform: scale(1.05); }
        .mainContainerPages .container-img a .hvr-trim, .mainContainerPages .container-img a .hvr-trim-location {
          display: inline-block;
          vertical-align: middle;
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          position: relative; }
        .mainContainerPages .container-img a .hvr-trim:before, .mainContainerPages .container-img a .hvr-trim-location:before {
          content: '';
          position: absolute;
          border: #ffffff solid 2px;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          opacity: 0;
          transition-property: opacity; }
        .mainContainerPages .container-img a .hvr-trim:hover:before, .mainContainerPages .container-img a .hvr-trim-location:hover:before,
        .mainContainerPages .container-img a .hvr-trim:focus:before,
        .mainContainerPages .container-img a .hvr-trim-location:focus:before,
        .mainContainerPages .container-img a .hvr-trim:active:before,
        .mainContainerPages .container-img a .hvr-trim-location:active:before {
          opacity: 1; }
        .mainContainerPages .container-img a .hvr-trim-location:before {
          border: #990100 solid 2px; }
    .mainContainerPages .asidePages {
      flex-direction: column;
      position: fixed;
      right: 10px;
      padding-top: 20px;
      animation: translate 3s infinite 0.2s; }
      .mainContainerPages .asidePages .fa {
        padding: 10px;
        width: 35px;
        font-size: inherit; }
  .tours-mobile {
    display: none; }
  .tours-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .tours-desktop .card {
      width: 20rem;
      margin: 1rem; }
      .tours-desktop .card .card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between; }
  .form .formulario {
    animation: form 2s forwards; }
  @keyframes form {
    0% {
      transform: translate(-400px, 0); }
    50% {
      transform: translate(200px, 0); }
    100% {
      transform: translate(0, 0); } }
    .form .formulario .formContacto fieldset {
      width: 500px; }
  .footer {
    height: 120px; }
    .footer #soMeIcons a img {
      width: 2rem; }
    .footer p {
      font-size: 15px; }
  .paginaError h1 {
    font-size: 50px; }
  .paginaError .tristeza {
    width: 25%; }
  .container-tour-LOTR .header-tour, .container-tour-HA .header-tour, .container-tour-HP .header-tour, .container-tour-GOT .header-tour, .container-tour-EPL .header-tour, .container-tour-AM .header-tour {
    height: 500px; }
    .container-tour-LOTR .header-tour h2, .container-tour-HA .header-tour h2, .container-tour-HP .header-tour h2, .container-tour-GOT .header-tour h2, .container-tour-EPL .header-tour h2, .container-tour-AM .header-tour h2 {
      font-size: 4rem;
      padding-left: 8rem; }
    .container-tour-LOTR .header-tour p, .container-tour-HA .header-tour p, .container-tour-HP .header-tour p, .container-tour-GOT .header-tour p, .container-tour-EPL .header-tour p, .container-tour-AM .header-tour p {
      font-size: 2rem;
      padding-left: 8rem; }
  .container-tour-LOTR .main-tour, .container-tour-HA .main-tour, .container-tour-HP .main-tour, .container-tour-GOT .main-tour, .container-tour-EPL .main-tour, .container-tour-AM .main-tour {
    grid-template-columns: 70% 30%;
    grid-template-areas: "description booking" "back-tours back-tours"; }
    .container-tour-LOTR .main-tour .booking, .container-tour-HA .main-tour .booking, .container-tour-HP .main-tour .booking, .container-tour-GOT .main-tour .booking, .container-tour-EPL .main-tour .booking, .container-tour-AM .main-tour .booking {
      justify-self: flex-end;
      margin-right: 1rem; }
  .container-tour-LOTR #exampleModal, .container-tour-HA #exampleModal, .container-tour-HP #exampleModal, .container-tour-GOT #exampleModal, .container-tour-EPL #exampleModal, .container-tour-AM #exampleModal {
    width: 100%;
    height: 100%;
    left: 0; }
  .container-tour-HA .header-tour {
    background-image: url("../Multimedia/tours/central-park.jpeg"); }
  .container-tour-HP .header-tour {
    background-image: url("../Multimedia/tours/millenium-bridge.jpeg"); }
  .container-tour-GOT .header-tour {
    background-image: url("../Multimedia/tours/dubrovnik.jpeg"); }
  .container-tour-EPL .header-tour {
    background-image: url("../Multimedia/tours/rome.jpeg"); }
  .container-tour-AM .header-tour {
    background-image: url("../Multimedia/tours/montmartre.jpeg"); }
  .carrito h2 {
    font-size: 2rem;
    margin: 50px 200px; }
  .carrito #detalle-carrito p {
    margin: 0 200px; }
  .carrito #detalle-carrito .valor-total {
    margin: 0 200px;
    font-size: 1.5rem; }
  .carrito #detalle-carrito .carrito-tour {
    margin: 0 200px 50px 200px; }
    .carrito #detalle-carrito .carrito-tour .detalles-tour p {
      font-size: 1.3rem; }
    .carrito #detalle-carrito .carrito-tour .detalles-tour .detail {
      font-size: 1rem; }
    .carrito #detalle-carrito .carrito-tour .detalles-tour .total-tour {
      font-size: 1.2rem; }
  .carrito #confirm-user {
    grid-area: confirmar;
    margin: 50px 200px; }
    .carrito #confirm-user form .ingreso-email label {
      font-size: 1.3rem; }
    .carrito #confirm-user form .ingreso-email input {
      font-size: 1.3rem; }
    .carrito #confirm-user form .ingreso-email .suscripcion {
      margin-top: 10px; }
      .carrito #confirm-user form .ingreso-email .suscripcion label {
        font-size: 0.9rem; }
    .carrito #confirm-user form .aceptar {
      margin-top: 15px;
      padding-top: 15px; }
      .carrito #confirm-user form .aceptar .checkboxes label {
        font-size: 0.9em; }
      .carrito #confirm-user form .aceptar .checkboxes .checkboxTerms {
        align-items: center; }
      .carrito #confirm-user form .aceptar .checkboxes .checkboxPrivacy {
        align-items: center; }
      .carrito #confirm-user form .aceptar .btn-continuar button {
        font-size: 1rem;
        width: 12rem; }
  .carrito #data-user .modal-header {
    padding: 1.5rem; }
    .carrito #data-user .modal-header .modal-title {
      font-size: 1.5rem; }
    .carrito #data-user .modal-header p {
      font-size: 1rem;
      margin: 0.3rem 0 0.3rem 0; }
  .carrito #data-user .modal-body .form-1 {
    font-size: 1rem;
    margin: 0 15px; }
    .carrito #data-user .modal-body .form-1 .grid-form {
      margin-top: 20px; }
      .carrito #data-user .modal-body .form-1 .grid-form .column-1 input,
      .carrito #data-user .modal-body .form-1 .grid-form .column-2 input {
        margin: 5px 20px 20px 0;
        height: 1.5rem; }
      .carrito #data-user .modal-body .form-1 .grid-form .column-1 select,
      .carrito #data-user .modal-body .form-1 .grid-form .column-2 select {
        margin: 5px 20px 20px 0;
        height: 1.5rem; }
      .carrito #data-user .modal-body .form-1 .grid-form .modal-footer {
        margin-top: 1rem;
        padding: 1rem 1rem 0 1rem; }
        .carrito #data-user .modal-body .form-1 .grid-form .modal-footer button {
          font-size: 1rem;
          width: 10rem; }
  .carrito #data-user .modal-body .form-2 {
    margin: 0 10px; }
    .carrito #data-user .modal-body .form-2 h5 {
      font-size: 1.2rem;
      margin-bottom: 2rem; }
    .carrito #data-user .modal-body .form-2 .accordion .accordion-item .accordion-header .accordion-btn {
      font-size: 1rem; }
      .carrito #data-user .modal-body .form-2 .accordion .accordion-item .accordion-header .accordion-btn img {
        width: 6rem; }
    .carrito #data-user .modal-body .form-2 .accordion .accordion-body {
      font-size: 1rem; }
      .carrito #data-user .modal-body .form-2 .accordion .accordion-body .container-icons {
        display: flex;
        justify-content: flex-end; }
        .carrito #data-user .modal-body .form-2 .accordion .accordion-body .container-icons i {
          padding: 0 0.3rem;
          font-size: 1.8rem; }
      .carrito #data-user .modal-body .form-2 .accordion .accordion-body .card-details input {
        margin-bottom: 0.5rem;
        margin-top: 0.3rem; }
      .carrito #data-user .modal-body .form-2 .accordion .accordion-body .card-details label {
        margin-top: 0.5rem; }
    .carrito #data-user .modal-body .form-2 .btn-checkout {
      margin-top: 1.8rem; }
      .carrito #data-user .modal-body .form-2 .btn-checkout button {
        font-size: 1rem; }
  .alert {
    padding: 6rem 0; }
    .alert h3 {
      font-size: 2.3rem; }
    .alert p {
      font-size: 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 3rem; } }
