* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000000;
  font-family: "Zilla Slab", serif; }

header {
  display: flex;
  flex-direction: row;
  padding: 20px 0 0 10px;
  justify-content: flex-start;
  align-items: center; }
  header .logo {
    width: 40px;
    height: 40px; }
  header .titulo {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px #555454;
    padding-left: 10px;
    margin-bottom: 0; }

.navbar {
  justify-content: flex-end;
  border-bottom: 1px solid #808080; }
  .navbar .navbar-toggler {
    background-color: white;
    opacity: 60%; }
  .navbar .navbar-nav {
    background-color: white;
    opacity: 60%; }
    .navbar .navbar-nav .nav-link {
      padding: 2px 15px;
      color: #000000;
      font-size: 12px; }
  .navbar li a:hover {
    background-color: #ad6868;
    color: #000000; }

header, .navbar {
  background-color: black; }

.mainContainerHome {
  background-image: url("/Multimedia/hollywood-cover.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  /*
    .newsletter {
        align-self: center;
        margin-bottom: 20px;
        width: 70%;

        form {
            @include flex-center (flex, column, center, center);
            border-radius: 5px;
            border: 1px solid $colorTextIcon;
            padding: 10px;
            background-color: rgba(241, 241, 241, 0.452);

            legend {
                font-size: $fontSizeNews;
            }

            label {
                font-size: $fontSizeNews;
            }

            input {
                font-size: $fontSizeNews;
                text-align: center;
            }

            .btn {
                background-color: $titleColor;
                border: 1px solid transparent;
                margin-top: 10px;
                font-size: $fontSizeNews;
            }
        }
    }
    */ }
  .mainContainerHome .main-home {
    height: 50%; }
    .mainContainerHome .main-home h2 {
      font-size: 1.5em;
      text-align: center;
      color: white; }
  .mainContainerHome .asideHome {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center; }
    .mainContainerHome .asideHome .fa {
      padding: 5px;
      width: auto;
      font-size: 10px;
      text-align: center;
      text-decoration: none; }
    .mainContainerHome .asideHome .fa:hover {
      transform: scale(1.1); }
    .mainContainerHome .asideHome .fa-facebook, .mainContainerHome .asideHome .fa-twitter, .mainContainerHome .asideHome .fa-instagram {
      background: #3B5998;
      color: #ffffff; }
    .mainContainerHome .asideHome .fa-twitter {
      background: #55ACEE; }
    .mainContainerHome .asideHome .fa-instagram {
      background: #125688; }

.mainContainerPages {
  background-image: url("/Multimedia/hollywood-cover.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .mainContainerPages .tituloPages h2 {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 10px; }
  .mainContainerPages .tituloPages p {
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0; }
  .mainContainerPages .container-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .mainContainerPages .container-img a {
      color: white;
      text-decoration: none; }
      .mainContainerPages .container-img a div {
        padding: 10px; }
        .mainContainerPages .container-img a div p {
          background-color: rgba(255, 255, 255, 0.651);
          text-align: center;
          margin: 0;
          color: #000000;
          font-weight: bold; }
        .mainContainerPages .container-img a div img {
          width: 150px;
          height: 100px; }
  .mainContainerPages .asidePages {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    align-self: center; }
    .mainContainerPages .asidePages .fa {
      padding: 5px;
      width: auto;
      font-size: 10px;
      text-align: center;
      text-decoration: none; }
    .mainContainerPages .asidePages .fa:hover {
      transform: scale(1.1); }
    .mainContainerPages .asidePages .fa-facebook, .mainContainerPages .asidePages .fa-twitter, .mainContainerPages .asidePages .fa-instagram {
      background: #3B5998;
      color: #ffffff; }
    .mainContainerPages .asidePages .fa-twitter {
      background: #55ACEE; }
    .mainContainerPages .asidePages .fa-instagram {
      background: #125688; }

.containerDirectores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .containerDirectores a {
    color: #000000;
    text-decoration: none; }
    .containerDirectores a div {
      padding: 10px; }
      .containerDirectores a div p {
        text-align: center;
        margin: 0;
        color: #000000;
        text-decoration: none; }
      .containerDirectores a div img {
        width: 180px;
        height: 240px; }

.form {
  background-image: url("/Multimedia/hollywood-cover.webp");
  background-repeat: no-repeat;
  background-size: cover; }
  .form .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; }
    .form .formulario .formContacto fieldset {
      margin: 10px;
      width: auto; }
      .form .formulario .formContacto fieldset .form-label {
        margin-top: .5rem; }
      .form .formulario .formContacto fieldset .form-select {
        width: fit-content; }
      .form .formulario .formContacto fieldset textarea {
        resize: both; }

.piePaginaHome {
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #808080;
  padding: 10px 0;
  line-height: 0; }
  .piePaginaHome a {
    color: white;
    display: block; }
  .piePaginaHome p {
    color: white; }

.volverInicio {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #808080; }
  .volverInicio a {
    color: white; }
  .volverInicio p {
    color: white; }

.paginaError {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px 10px 50px 10px;
  border: 10px solid #ffffff; }
  .paginaError h1 {
    font-size: 1.5em;
    text-align: center; }
  .paginaError .tristeza {
    width: 40%; }

.footer404 {
  text-align: center;
  padding-bottom: 30px; }
  .footer404 a {
    color: #000000; }

@media only screen and (min-width: 576px) {
  header .logo {
    width: 55px;
    height: 50px; }
  header .titulo {
    font-size: 30px; }
  .navbar .navbar-nav {
    background-color: transparent;
    opacity: 100%; }
    .navbar .navbar-nav .nav-link {
      font-size: 16px;
      color: white; }
  .navbar #nav-contacto a {
    border-right: none; }
  .mainContainerHome {
    /*
        .newsletter {

            form {

                legend {
                    font-size: 16px;
                }

                label {
                    font-size: 16px;
                }

                input {
                    font-size: 16px;
                }

                .btn {
                    font-size: 16px;
                }
            }
        }
        */ }
    .mainContainerHome .piePaginaHome {
      grid-area: footer;
      line-height: 0.5;
      font-size: 16px; }
  .mainContainerPages .tituloPages h2 {
    font-size: 25px;
    padding-top: 20px; }
  .mainContainerPages .tituloPages p {
    padding: 20px; }
  .mainContainerPages .container-img {
    flex-direction: row;
    flex-wrap: wrap; }
  .mainContainerPages .volverInicio {
    font-size: 16px; }
  .containerDirectores {
    flex-direction: row;
    flex-wrap: wrap; }
  .formContacto fieldset {
    width: 450px; } }

@media only screen and (min-width: 768px) {
  .mainContainerPages .container-img a {
    color: white;
    text-decoration: none; }
    .mainContainerPages .container-img a div img {
      width: 230px;
      height: 150px; }
  .volverInicio {
    grid-area: pie; }
  .containerDirectores a {
    color: white;
    text-decoration: none; }
    .containerDirectores a div {
      padding: 20px; }
      .containerDirectores a div img {
        width: 280px;
        height: 360px; }
  .formContacto {
    border-radius: 20px;
    border: 1px solid black; }
  .paginaError {
    margin: 60px 10px 30px 10px; }
    .paginaError h1 {
      font-size: 2em; }
  .footer404 {
    font-size: 20px; } }

@media only screen and (min-width: 992px) {
  .mainContainerHome {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 100px;
    grid-template-areas: "main" "newsletter" "footer";
    /*
        .newsletter {

            grid-area: newsletter;
            justify-self: center;
            width: 30%;

            form {

                legend {
                    font-size: 16px;
                }

                label {
                    font-size: 16px;
                }

                input {
                    font-size: 16px;
                }

                .btn {
                    font-size: 16px;
                }
            }
        }
        */ }
    .mainContainerHome .asideHome {
      flex-direction: column;
      position: fixed;
      right: 10px;
      padding-top: 20px;
      animation: translate 3s infinite 0.2s; }
      .mainContainerHome .asideHome .fa {
        padding: 10px;
        width: 35px;
        font-size: inherit; }
  @keyframes translate {
    100% {
      transform: translate(0, 0); }
    50% {
      transform: translate(0, 25px); } }
  .mainContainerPages {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto 70px;
    grid-template-areas: "titulo" "mainPages" "pie"; }
    .mainContainerPages .tituloPages {
      grid-area: titulo;
      align-self: center; }
      .mainContainerPages .tituloPages p {
        padding: 20px 100px 20px 100px; }
    .mainContainerPages .container-img {
      grid-area: mainPages;
      margin-bottom: 30px; }
      .mainContainerPages .container-img a {
        color: white;
        text-decoration: none; }
        .mainContainerPages .container-img a div {
          padding: 20px; }
        .mainContainerPages .container-img a div:hover {
          transform: scale(1.05); }
        .mainContainerPages .container-img a .hvr-trim, .mainContainerPages .container-img a .hvr-trim-location {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          position: relative; }
        .mainContainerPages .container-img a .hvr-trim:before, .mainContainerPages .container-img a .hvr-trim-location:before {
          content: '';
          position: absolute;
          border: #ffffff solid 2px;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          opacity: 0;
          -webkit-transition-property: opacity;
          transition-property: opacity; }
        .mainContainerPages .container-img a .hvr-trim:hover:before, .mainContainerPages .container-img a .hvr-trim-location:hover:before,
        .mainContainerPages .container-img a .hvr-trim:focus:before,
        .mainContainerPages .container-img a .hvr-trim-location:focus:before,
        .mainContainerPages .container-img a .hvr-trim:active:before,
        .mainContainerPages .container-img a .hvr-trim-location:active:before {
          opacity: 1; }
        .mainContainerPages .container-img a .hvr-trim-location:before {
          border: #990100 solid 2px; }
    .mainContainerPages .asidePages {
      flex-direction: column;
      position: fixed;
      right: 10px;
      padding-top: 20px;
      animation: translate 3s infinite 0.2s; }
      .mainContainerPages .asidePages .fa {
        padding: 10px;
        width: 35px;
        font-size: inherit; }
  .containerDirectores {
    grid-area: mainPages;
    margin-bottom: 30px; }
    .containerDirectores a {
      color: #000000;
      text-decoration: none; }
      .containerDirectores a div:hover {
        transform: scale(1.05); }
      .containerDirectores a .hvr-trim-director {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative; }
      .containerDirectores a .hvr-trim-director:before {
        content: '';
        position: absolute;
        border: #000000 solid 2px;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        opacity: 0;
        -webkit-transition-property: opacity;
        transition-property: opacity; }
      .containerDirectores a .hvr-trim-director:hover:before,
      .containerDirectores a .hvr-trim-director:focus:before,
      .containerDirectores a .hvr-trim-director:active:before {
        opacity: 1; }
  .form .formulario {
    animation: form 2s forwards; }
  @keyframes form {
    0% {
      transform: translate(-400px, 0); }
    50% {
      transform: translate(200px, 0); }
    100% {
      transform: translate(0, 0); } }
    .form .formulario .formContacto fieldset {
      width: 500px; }
  .volverInicio {
    grid-area: pie;
    font-size: 16px; }
  .paginaError h1 {
    font-size: 50px; }
  .paginaError .tristeza {
    width: 25%; } }
