$backgroundColor: #d6d6d6;
$backgroundColorHome: #d6d6d6;
$backgroundHover: #ad6868;
$textColor: #000000;
$titleColor: #990100;
$font: 'Zilla Slab', serif;
$fontSizeText: 20px;
$fontSizeFooter: 12px;
$fontSizeNews: 14px;


$backgroundCarousel: #d3d3d39f;
$BackTextCarousel: #9b3131d0;

$iconFacebook: #3B5998;
$iconTwitter: #55ACEE;
$iconInstagram: #125688;
$colorTextIcon: #ffffff;

$borderNav: 1px solid #808080;


@mixin flex ($display, $direction) {
    display: $display;
    flex-direction: $direction;
}

@mixin flex-center ($display, $direction, $align, $justify) {
    display: $display;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}