$backgroundColor: rgb(0, 0, 0);
$backgroundHover: #ad6868;
$backNav: #a12e2e;
$color: #ffffff;
$textColor: #000000;
$titleColor: #990100;
$font: 'Josefin Sans', sans-serif;
$fontSizeText: 20px;
$backButton: #c41f1f;

@mixin flex ($display, $direction) {
    display: $display;
    flex-direction: $direction;
}

@mixin flex-center ($display, $direction, $align, $justify) {
    display: $display;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}