@import "variables.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $backgroundColor;
    font-family: $font;
}

header {
    background-color: $backNav;

    .title {
        @include flex (flex, row);
        padding: 10px 0 0 10px;
        justify-content: flex-start;
        align-items: center;

        .logo {
            width: 40px;
            height: 40px;
        }

        .titulo {
            font-size: 25px;
            font-weight: bold;
            color: $color;
            text-shadow: 2px 2px rgb(0, 0, 0);
            padding-left: 10px;
            margin-bottom: 0;
        }
    }

    .navbar {
        justify-content: flex-end;
        padding-top: 0;

        .navbar-toggler {
            background-color: $color;
            opacity: 60%;
        }

        .navbar-nav {
            background-color: $color;
            opacity: 60%;

            .nav-link {
                padding: 2px 15px;
                color: $textColor;
                font-size: 12x;
            }

            .nav-link:hover {
                color: $color;
            }

            #nav-carrito {
                background-color: $textColor;

                img {
                    width: 22px;
                }
            }
        }

        li {
            a:hover {
                background-color: $backgroundHover;
                color: $textColor;
            }
        }
    }
}

// MAIN // 

.mainContainerHome {
    background-image: url('../Multimedia/hollywood-cover-home.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    @include flex (flex, column);

    .main-home {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 1.5em;
            text-align: center;
            color: $textColor;
            background-color: rgba(255, 255, 255, 0.822);
        }
    }

}

// PELICULAS Y LOCACIONES //

.mainContainerPages {
    background-image: url('../Multimedia/hollywood-cover-fade.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include flex (flex, column);

    .tituloPages {

        h2 {
            font-weight: bold;
            text-align: center;
            font-size: $fontSizeText;
            color: $color;
            padding-top: 10px;
        }

        p {
            color: $color;
            text-align: center;
            padding: 10px;
            margin-bottom: 0;
        }
    }



    .container-img {
        @include flex-center (flex, row, center, center);
        flex-wrap: wrap;

        a {
            color: $color;
            text-decoration: none;

            div {
                padding: 10px;

                p {
                    background-color: rgba(255, 255, 255, 0.651);
                    text-align: center;
                    margin: 0;
                    color: $textColor;
                    font-size: 14px;
                }

                img {
                    width: 150px;
                    height: 100px;
                }
            }
        }

    }

}

// TOURS //

.tours-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    .carousel {
        .carousel-inner {
            .carousel-item {
                .card {
                    width: 18rem;
                }
            }
        }
    }


}

.tours-desktop {
    display: none;
}

//FORM //

.form {
    background-image: url('../Multimedia/hollywood-cover-home.webp');
    background-repeat: no-repeat;
    background-size: cover;

    .formulario {
        color: $color;

        @include flex (flex, column);
        align-items: center;
        padding: 30px;

        .formContacto {

            background-color: #b9afaf69;

            fieldset {
                margin: 10px;
                width: auto;

                .form-label {
                    margin-top: .5rem;
                }

                .form-select {
                    width: fit-content;
                }

                textarea {
                    resize: both;
                }
            }
        }
    }

}


// FOOTER //

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $textColor;
    height: 100px;

    #soMeIcons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;

        a {
            margin: 0 5px;
            text-decoration: none;

            img {
                width: 1.5rem;
            }
        }


    }

    p {
        font-size: 12px;
        color: $color;
        margin: 0;

        a {
            color: lightsalmon;
        }
    }


}

// ARROW UP FOOTER

#arrowUp {
    display: none;
}

// PAGINA 404

.paginaError {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px 10px 50px 10px;
    border: 10px solid $color;

    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .tristeza {
        width: 40%;
    }
}

.footer404 {
    text-align: center;
    padding-bottom: 30px;

    a {
        color: $textColor;
    }
}

// CARRITO

.carrito {
    background-color: $color;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nombre-tour"
        "detalle"
        "confirmar";


    h2 {
        margin: 10px 0;
        grid-area: nombre-tour;
        justify-self: center;
        color: $textColor;
        font-size: 1.5rem;
        align-self: center;
        border-bottom: 1px solid lightgrey;
    }

    .detalle-carrito {

        p {
            margin: 0;
        }

        .valor-total {
            margin: 0;
            font-size: 1.2rem;
            padding-top: 20px;
            margin-left: 10px;
            border-top: 1px solid lightgray;
        }

        height: fit-content;


        .carrito-tour {
            display: grid;
            grid-template-columns: 80% 20%;
            grid-template-rows: auto;
            grid-template-areas:
                " detalles opciones";
            align-items: center;
            margin: 0 10px 50px 10px;

            .detalles-tour {

                grid-area: detalles;

                p {
                    font-size: 1rem;
                    margin: 0;
                }

                .detail {
                    font-size: 0.8rem;
                    color: #808080;
                }

                .total-tour {
                    font-size: 1rem;
                    margin-top: 10px;
                    padding-top: 10px;
                    color: $backNav;
                }

            }

            .opciones {

                grid-area: opciones;
                justify-self: center;

                button {
                    font-size: 0.8rem;
                }
            }

        }
    }

    .confirm-user {
        grid-area: confirmar;
        margin: 30px 10px;

        form {
            .ingreso-email {
                background-color: #cedbee;
                padding: 10px;

                label {
                    font-size: 0.7rem;

                    span {
                        color: red;
                    }
                }

                input {
                    font-size: 0.7rem;
                    display: inline-block;
                    width: 100%;
                }

                .suscripcion {
                    margin-top: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;

                    label {
                        font-size: 0.5rem;
                        padding-left: 5px;
                    }

                    input {
                        display: block;
                        width: auto;
                    }

                }

            }

            .aceptar {
                margin-top: 10px;
                padding-top: 10px;
                border-top: 1px solid #d3d3d3;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .checkboxes {

                    label {
                        font-size: 0.7rem;

                        span {
                            color: #ff0000;
                        }
                    }

                    .checkboxTerms {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;

                        input {
                            margin-left: 5px;
                        }
                    }

                    .checkboxPrivacy {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        margin-top: 5px;

                        input {
                            margin-left: 5px;
                        }
                    }
                }

                .btn-continuar {
                    button {
                        font-size: 0.8rem;
                        width: 10rem;
                    }
                }


            }
        }

    }
}

// TOUR

.container-tour-LOTR {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header-tour"
        "main-tour";

    .header-tour {
        background-image: url('../Multimedia/tours/hobbiton.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        grid-area: header-tour;

        h2 {
            font-size: 2rem;
            color: $color;
            font-weight: bold;
            padding-left: 3rem;
            text-shadow: 5px 5px 8px black;
        }

        p {
            font-size: 1rem;
            color: $color;
            font-weight: bold;
            padding-left: 3rem;
            text-shadow: 5px 5px 8px black;

        }


    }

    .main-tour {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "description"
            "booking"
            "back-tours";
        background-color: $color;

        .description {
            grid-area: description;
            justify-self: flex-start;
            padding: 2rem 2rem;

            h3 {
                color: gray;
                margin-bottom: 3rem;
            }
        }

        .booking {
            grid-area: booking;
            justify-self: center;
            align-self: center;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 30% 30% 20% 20%;
            grid-template-areas:
                "button"
                "tour-details"
                "sub-text"
                "button-dispo";
            align-items: center;
            justify-items: center;
            width: 300px;
            height: 300px;
            box-shadow: 1px 1px 10px 3px lightgray;


            .button-reserva {
                grid-area: button;
                background-color: $backButton;
                color: $color;
                font-size: 1.8rem;
                width: 90%;
                height: 4rem;
                border: transparent;
                border-radius: 5px;
            }

            .tour-details {
                grid-area: tour-details;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                border-top: 1px solid #adadad;
                border-bottom: 1px solid #adadad;
                line-height: 1rem;



                .idiomas {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 20px;
                    border-right: 1px solid #adadad;
                    line-height: 1.5rem;

                    p {
                        margin: 0;
                        font-weight: bold;
                    }

                    .sub-text {
                        font-size: 14px;
                        color: gray;
                    }
                }

                .horarios {
                    @extend .idiomas;
                }

                .precio {
                    @extend .idiomas;
                    border-right: none;

                }
            }

            .locacion {
                grid-area: sub-text;
                margin: 0;

                p {
                    display: inline;
                }
            }

            .button-dispo {
                @extend .button-reserva;
                grid-area: button-dispo;
                font-size: 1rem;
                width: 50%;
                height: 2.5rem;
            }


        }

        a {
            grid-area: back-tours;
            justify-self: center;
            font-size: 2rem;
            color: $backButton;
            font-weight: bold;
            margin: 3rem 0;
            text-decoration: none;
        }

    }

    #exampleModal {

        width: 80%;
        height: 80%;
        left: 50px;

        .modal-content {
            .modal-header {
                .name-tour {
                    margin: 0;
                    font-size: 1.8rem;
                }
            }

            .modal-body {
                form {

                    div {
                        margin: 10px 0;
                    }

                    label,
                    input {
                        margin: 5px 0;
                    }

                    #date,
                    #horario,
                    #idioma,
                    #cantidad {
                        height: 2rem;
                    }

                    #cantidad {
                        width: 2.5rem;
                        text-align: center;
                    }


                }
            }

            .modal-footer {

                justify-content: space-between;

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    #modal-carrito {

        .modal-body {

            p {
                margin: 0;
                font-size: 1.5rem;
                text-align: center;
            }
        }

        .modal-footer {
            justify-content: space-between;

            button {
                a {
                    color: $color;
                    text-decoration: none;
                }
            }
        }

    }
}

.container-tour-HA {
    @extend .container-tour-LOTR;

    .header-tour {
        background-image: url('../Multimedia/tours/central-park.jpeg')
    }
}

.container-tour-HP {
    @extend .container-tour-LOTR;

    .header-tour {
        background-image: url('../Multimedia/tours/millenium-bridge.jpeg')
    }
}

.container-tour-GOT {
    @extend .container-tour-LOTR;

    .header-tour {
        background-image: url('../Multimedia/tours/dubrovnik.jpeg')
    }
}

.container-tour-EPL {
    @extend .container-tour-LOTR;

    .header-tour {
        background-image: url('../Multimedia/tours/rome.jpeg')
    }
}

.container-tour-AM {
    @extend .container-tour-LOTR;

    .header-tour {
        background-image: url('../Multimedia/tours/montmartre.jpeg')
    }
}

@media only screen and (min-width: 576px) {



    // SECCION HOME //

    header {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 60px;


        .title {
            padding: 0;

            .titulo {
                font-size: 20px;
            }
        }

        .navbar {
            padding: 0;

            .navbar-nav {
                background-color: transparent;
                opacity: 100%;

                .nav-link {
                    padding: 0 5px;
                    font-size: 12px;
                    color: $color;
                }

                #nav-carrito {
                    background-color: transparent;

                    img {
                        width: 18px;
                    }
                }


            }
        }

    }



    // SECCION PELICULAS - LOCACIONES //

    .mainContainerPages {
        .tituloPages {
            h2 {
                font-size: 25px;
                padding-top: 20px;
            }

            p {
                padding: 20px;
            }
        }

        .container-img {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    // SECCION TOURS //

    .tours-mobile {

        .carousel {
            .carousel-inner {
                .carousel-item {
                    .card {
                        width: 25rem;
                    }
                }
            }
        }


    }

    // SECCION CONTACTO //

    .formContacto {
        fieldset {
            width: 450px;
        }
    }

    // CARRITO

    .carrito {

        h2 {
            justify-self: stretch;
            text-align: center;
        }
    }


}

@media only screen and (min-width: 768px) {

    // HOVER NAV

    .navbar {
        .navbar-nav {
            .nav-link:hover {
                background-color: transparent;
                transform: scale(1.2);
            }
        }
    }


    // HOME

    .mainContainerHome {
        height: 550px;
    }

    // SECCION PELICULAS - LOCACIONES //

    .mainContainerPages {
        .container-img {
            a {
                color: $color;
                text-decoration: none;

                div {
                    img {
                        width: 230px;
                        height: 150px;
                    }
                }
            }
        }

    }


    // SECCION TOURS //

    .tours-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        .carousel {
            .carousel-inner {
                .carousel-item {
                    .card {
                        width: 22rem;
                    }
                }
            }
        }


    }


    // SECCION CONTACTO //

    .formContacto {

        border-radius: 20px;
        border: 1px solid #aaa2a2;
    }

    // ERROR 404 PAGE

    .paginaError {
        margin: 60px 10px 30px 10px;

        h1 {
            font-size: 2em;
        }
    }

    .footer404 {
        font-size: 20px;
    }

    //FOOTER HOVER

    .footer {
        #soMeIcons {
            img:hover {
                transform: scale(1.2);
            }
        }
    }


    // ARROW UP FOOTER

    #arrowUp {
        display: block;

        img {
            width: 3rem;
            position: fixed;
            bottom: 30px;
            right: 12px;
        }
    }

    // CARRITO

    .carrito {

        h2 {
            text-align: left;
            margin: 50px 100px;
        }

        .detalle-carrito {

            .valor-total {
                margin: 0 100px;

            }


            .carrito-tour {

                margin: 0 100px 50px 100px;

                .opciones {

                    button {
                        font-size: 1rem;
                    }
                }

            }
        }

        .confirm-user {
            margin: 50px 100px;

            form {
                .ingreso-email {

                    label {
                        font-size: 1rem;
                    }

                    input {
                        font-size: 1rem;
                    }

                    .suscripcion {
                        align-items: flex-start;
                        margin-top: 10px;

                        label {
                            font-size: 0.7rem;
                        }
                    }
                }

                .aceptar {
                    .checkboxes {

                        label {
                            font-size: 0.8rem;
                        }

                        .checkboxTerms {
                            align-items: center;
                        }

                        .checkboxPrivacy {
                            align-items: center;
                        }
                    }

                    .btn-continuar {
                        button {
                            font-size: 1rem;
                            width: 10rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {


    // SECCION HOME //

    header {

        height: 70px;

        .title {
            padding: 0 5px;

            .logo {
                width: 55px;
                height: 55px;
            }

            .titulo {
                font-size: 30px;
            }
        }

        .navbar {
            padding: 0;

            .navbar-nav {
                .nav-link {
                    color: white;
                    padding: 0 12px;
                    font-size: 18px;
                }

                #nav-carrito {
                    img {
                        width: 28px;
                    }
                }

            }

        }

    }

    .mainContainerHome {
        height: 100vh;

    }


    // SECCION PELICULAS - LOCACIONES //

    .mainContainerPages {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px auto 70px;
        grid-template-areas:
            "titulo"
            "mainPages"
            "pie";

        .tituloPages {
            grid-area: titulo;
            align-self: center;

            p {
                padding: 20px 100px 20px 100px;
            }
        }

        .container-img {
            grid-area: mainPages;
            margin-bottom: 30px;

            a {

                color: $color;
                text-decoration: none;

                div {
                    padding: 20px;

                    p {
                        font-size: 16px;
                    }
                }

                // HOVER //

                div:hover {
                    transform: scale(1.05);
                }

                .hvr-trim {
                    display: inline-block;
                    vertical-align: middle;
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    position: relative;
                }

                .hvr-trim:before {
                    content: '';
                    position: absolute;
                    border: $color solid 2px;
                    top: 2px;
                    left: 2px;
                    right: 2px;
                    bottom: 2px;
                    opacity: 0;
                    transition-property: opacity;
                }

                .hvr-trim:hover:before,
                .hvr-trim:focus:before,
                .hvr-trim:active:before {
                    opacity: 1;
                }

                .hvr-trim-location {
                    @extend .hvr-trim;
                }

                .hvr-trim-location:before {
                    border: $titleColor solid 2px;
                }
            }
        }

        .asidePages {
            flex-direction: column;
            position: fixed;
            right: 10px;
            padding-top: 20px;
            animation: translate 3s infinite 0.2s;

            .fa {
                padding: 10px;
                width: 35px;
                font-size: inherit;
            }
        }

    }


    // SECCION TOURS //

    .tours-mobile {
        display: none;
    }

    .tours-desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            width: 20rem;
            margin: 1rem;

            .card-body {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
            }
        }

    }

    // SECCION CONTACTO //

    .form {
        .formulario {

            animation: form 2s forwards;

            @keyframes form {
                0% {
                    transform: translate(-400px, 0);
                }

                50% {
                    transform: translate(200px, 0);
                }

                100% {
                    transform: translate(0, 0);
                }
            }

            .formContacto fieldset {
                width: 500px;
            }

        }

    }

    // FOOTER //

    .footer {
        height: 120px;

        #soMeIcons {

            a {
                img {
                    width: 2rem;
                }
            }
        }

        p {
            font-size: 15px;

        }
    }

    .paginaError {

        h1 {
            font-size: 50px;
        }

        .tristeza {
            width: 25%;
        }
    }


    // TOURS


    .container-tour-LOTR {

        .header-tour {

            height: 500px;


            h2 {
                font-size: 4rem;
                padding-left: 8rem;
            }

            p {
                font-size: 2rem;
                padding-left: 8rem;
            }


        }

        .main-tour {
            grid-template-columns: 70% 30%;
            grid-template-areas:
                "description booking"
                "back-tours back-tours";

            .booking {
                justify-self: flex-end;
                margin-right: 1rem;
            }

        }

        #exampleModal {

            width: 100%;
            height: 100%;
            left: 0;

        }
    }

    .container-tour-HA {

        .header-tour {
            background-image: url('../Multimedia/tours/central-park.jpeg')
        }
    }

    .container-tour-HP {

        .header-tour {
            background-image: url('../Multimedia/tours/millenium-bridge.jpeg')
        }
    }

    .container-tour-GOT {
        .header-tour {
            background-image: url('../Multimedia/tours/dubrovnik.jpeg')
        }
    }

    .container-tour-EPL {

        .header-tour {
            background-image: url('../Multimedia/tours/rome.jpeg')
        }
    }

    .container-tour-AM {

        .header-tour {
            background-image: url('../Multimedia/tours/montmartre.jpeg')
        }
    }

    // CARRITO

    .carrito {

        h2 {
            font-size: 2rem;
            margin: 50px 200px;
        }

        .detalle-carrito {

            p {
                margin: 0 200px;
            }

            .valor-total {
                margin: 0 200px;
                font-size: 1.5rem;
            }

            .carrito-tour {
                margin: 0 200px 50px 200px;

                .detalles-tour {

                    p {
                        font-size: 1.3rem;
                    }

                    .detail {
                        font-size: 1rem;
                    }

                    .total-tour {
                        font-size: 1.2rem;
                    }

                }

            }
        }

        .confirm-user {
            grid-area: confirmar;
            margin: 50px 200px;
    
            form {
                .ingreso-email {
    
                    label {
                        font-size: 1.3rem;
                    }
    
                    input {
                        font-size: 1.3rem;
                    }
    
                    .suscripcion {
                        margin-top: 10px;
    
                        label {
                            font-size: 0.9rem;
                        }
                    }
    
                }
    
                .aceptar {
                    margin-top: 15px;
                    padding-top: 15px;
    
                    .checkboxes {
    
                        label {
                            font-size: 0.9em;
                        }
    
                        .checkboxTerms {  
                            align-items: center;
                        }
    
                        .checkboxPrivacy {
                            align-items: center;    
                        }
                    }
    
                    .btn-continuar {
                        button {
                            font-size: 1rem;
                            width: 12rem;
                        }
                    }
    
    
                }
            }
    
        }


    }


}