@import "variables.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $textColor;
    font-family: $font;
}


header {
    @include flex (flex, row);
    padding: 20px 0 0 10px;
    justify-content: flex-start;
    align-items: center;

    .logo {
        width: 40px;
        height: 40px;
    }

    .titulo {
        font-size: 25px;
        font-weight: bold;
        color: $colorTextIcon;
        text-shadow: 2px 2px rgb(85, 84, 84);
        padding-left: 10px;
        margin-bottom: 0;
    }
}

.navbar {
    justify-content: flex-end;
    // border-top: $borderNav;
    border-bottom: $borderNav;

    .navbar-toggler {
        background-color: white;
        opacity: 60%;
    }

    .navbar-nav {
        background-color: white;
        opacity: 60%;

        .nav-link {
            padding: 2px 15px;
            color: $textColor;
            font-size: 12px;
        }
    }

    li {
        a:hover {
            background-color: $backgroundHover;
            color: $textColor;
        }
    }
}

header, .navbar {
    background-color: black;
}

// MAIN // 

.mainContainerHome {
    background-image: url('/Multimedia/hollywood-cover.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    @include flex (flex, column);

    .main-home {
        height: 50%;

        h2 {
            font-size: 1.5em;
            text-align: center;
            color: $color;
        }
    }

    .asideHome {
        @include flex (flex, row);
        padding-bottom: 5px;
        justify-content: center;
        align-items: center;

        .fa {
            padding: 5px;
            width: auto;
            font-size: 10px;
            text-align: center;
            text-decoration: none;
        }

        .fa:hover {
            transform: scale(1.1);
        }

        .fa-facebook {
            background: $iconFacebook;
            color: $colorTextIcon;
        }

        .fa-twitter {
            @extend .fa-facebook;
            background: $iconTwitter;
        }

        .fa-instagram {
            @extend .fa-facebook;
            background: $iconInstagram;
        }
    }

    /*
    .newsletter {
        align-self: center;
        margin-bottom: 20px;
        width: 70%;

        form {
            @include flex-center (flex, column, center, center);
            border-radius: 5px;
            border: 1px solid $colorTextIcon;
            padding: 10px;
            background-color: rgba(241, 241, 241, 0.452);

            legend {
                font-size: $fontSizeNews;
            }

            label {
                font-size: $fontSizeNews;
            }

            input {
                font-size: $fontSizeNews;
                text-align: center;
            }

            .btn {
                background-color: $titleColor;
                border: 1px solid transparent;
                margin-top: 10px;
                font-size: $fontSizeNews;
            }
        }
    }
    */

}



// PELICULAS Y LOCACIONES //

.mainContainerPages {
    background-image: url('/Multimedia/hollywood-cover.webp');
    background-repeat: no-repeat;
    background-size: cover;
    @include flex (flex, column);

    .tituloPages {

        h2 {
            font-weight: bold;
            text-align: center;
            font-size: $fontSizeText;
            color: $color;
            padding-top: 10px;
        }

        p {
            color: $color;
            text-align: center;
            padding: 10px;
            margin-bottom: 0;
        }
    }



    .container-img {
        @include flex-center (flex, row, center, center);
        flex-wrap: wrap;

        a {
            color: $color;
            text-decoration: none;

            div {
                padding: 10px;

                p {
                    background-color: rgba(255, 255, 255, 0.651);
                    text-align: center;
                    margin: 0;
                    color: $textColor;
                    font-weight: bold;
                }

                img {
                    width: 150px;
                    height: 100px;
                }
            }
        }

    }


    .asidePages {
        @include flex (flex, row);
        padding: 5px 0;
        align-self: center;

        .fa {
            padding: 5px;
            width: auto;
            font-size: 10px;
            text-align: center;
            text-decoration: none;
        }

        .fa:hover {
            transform: scale(1.1);
        }

        .fa-facebook {
            background: $iconFacebook;
            color: $colorTextIcon;
        }

        .fa-twitter {
            @extend .fa-facebook;
            background: $iconTwitter;
        }

        .fa-instagram {
            @extend .fa-facebook;
            background: $iconInstagram;
        }
    }
}


//DIRECTORES //

.containerDirectores {
    @include flex-center (flex, column, center, center);

    a {
        color: $textColor;
        text-decoration: none;

        div {
            padding: 10px;

            p {
                text-align: center;
                margin: 0;
                color: $textColor;
                text-decoration: none;
            }

            img {
                width: 180px;
                height: 240px;
            }
        }
    }
}

//FORM //

.form {
    background-image: url('/Multimedia/hollywood-cover.webp');
    background-repeat: no-repeat;
    background-size: cover;

    .formulario {
    
        @include flex (flex, column);
        align-items: center;
        padding: 30px;
    
        .formContacto fieldset {
            margin: 10px;
            width: auto;
    
            .form-label {
                margin-top: .5rem;
            }
    
            .form-select {
                width: fit-content;
            }
    
            textarea {
                resize: both;
            }
        }
    }

}


// FOOTER //

.piePaginaHome {
    font-size: $fontSizeFooter;
    text-align: center;
    border-top: $borderNav;
    padding: 10px 0;
    line-height: 0;

    a {
        color: $color;
        display: block;
    }

    p {
        color: $color;
    }
}

.volverInicio {
    font-size: $fontSizeFooter;
    text-align: center;
    padding: 10px 0;
    border-top: $borderNav;

    a {
        color: $color
    }

    p {
        color: $color;
    }
}

// PAGINA 404

.paginaError {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px 10px 50px 10px;
    border: 10px solid $colorTextIcon;

    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .tristeza {
        width: 40%;
    }
}

.footer404 {
    text-align: center;
    padding-bottom: 30px;

    a {
        color: $textColor;
    }
}

@media only screen and (min-width: 576px) {



    // SECCION HOME //
    header {
        .logo {
            width: 55px;
            height: 50px;
        }

        .titulo {
            font-size: 30px;
        }
    }

    .navbar {

        .navbar-nav {
            background-color: transparent;
            opacity: 100%;

            .nav-link {
                font-size: 16px;
                color: $color;
            }
        }

        #nav-contacto a {
            border-right: none;
        }
    }

    .mainContainerHome {

        /*
        .newsletter {

            form {

                legend {
                    font-size: 16px;
                }

                label {
                    font-size: 16px;
                }

                input {
                    font-size: 16px;
                }

                .btn {
                    font-size: 16px;
                }
            }
        }
        */

        .piePaginaHome {
            grid-area: footer;
            line-height: 0.5;
            font-size: 16px;
        }
    }


    // SECCION PELICULAS - LOCACIONES //

    .mainContainerPages {
        .tituloPages {
            h2 {
                font-size: 25px;
                padding-top: 20px;
            }

            p {
                padding: 20px;
            }
        }

        .container-img {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .volverInicio {
            font-size: 16px;
        }
    }

    // SECCION DIRECTORES //

    .containerDirectores {
        flex-direction: row;
        flex-wrap: wrap;
    }

    // SECCION CONTACTO //

    .formContacto fieldset {
        width: 450px;
    }
}

@media only screen and (min-width: 768px) {


    // HOME


    // SECCION PELICULAS - LOCACIONES //

    .mainContainerPages {
        .container-img {
            a {
                color: $color;
                text-decoration: none;

                div {
                    img {
                        width: 230px;
                        height: 150px;
                    }
                }
            }
        }

    }

    .volverInicio {
        grid-area: pie;
    }

    // SECCION DIRECTORES //

    .containerDirectores {

        a {
            color: $color;
            text-decoration: none;

            div {
                padding: 20px;

                img {
                    width: 280px;
                    height: 360px;
                }
            }
        }
    }

    // SECCION CONTACTO //

    .formContacto {

        border-radius: 20px;
        border: 1px solid black;
    }

    .paginaError {
        margin: 60px 10px 30px 10px;

        h1 {
            font-size: 2em;
        }
    }

    .footer404 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 992px) {
    

    // SECCION HOME //

    .mainContainerHome {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto 100px;
        grid-template-areas:
            "main"
            "newsletter"
            "footer";


        /*
        .newsletter {

            grid-area: newsletter;
            justify-self: center;
            width: 30%;

            form {

                legend {
                    font-size: 16px;
                }

                label {
                    font-size: 16px;
                }

                input {
                    font-size: 16px;
                }

                .btn {
                    font-size: 16px;
                }
            }
        }
        */

        .asideHome {
            flex-direction: column;
            position: fixed;
            right: 10px;
            padding-top: 20px;
            animation: translate 3s infinite 0.2s;

            .fa {
                padding: 10px;
                width: 35px;
                font-size: inherit;
            }
        }

        @keyframes translate {


            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(0, 25px);
            }
        }

    }


    // SECCION PELICULAS - LOCACIONES //

    .mainContainerPages {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px auto 70px;
        grid-template-areas:
            "titulo"
            "mainPages"
            "pie";

        .tituloPages {
            grid-area: titulo;
            align-self: center;

            p {
                padding: 20px 100px 20px 100px;
            }
        }

        .container-img {
            grid-area: mainPages;
            margin-bottom: 30px;

            a {

                color: $color;
                text-decoration: none;

                div {
                    padding: 20px;
                }

                // HOVER //

                div:hover {
                    transform: scale(1.05);
                }

                .hvr-trim {
                    display: inline-block;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px) translateZ(0);
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    position: relative;
                }

                .hvr-trim:before {
                    content: '';
                    position: absolute;
                    border: $colorTextIcon solid 2px;
                    top: 2px;
                    left: 2px;
                    right: 2px;
                    bottom: 2px;
                    opacity: 0;
                    -webkit-transition-property: opacity;
                    transition-property: opacity;
                }

                .hvr-trim:hover:before,
                .hvr-trim:focus:before,
                .hvr-trim:active:before {
                    opacity: 1;
                }

                .hvr-trim-location {
                    @extend .hvr-trim;
                }

                .hvr-trim-location:before {
                    border: $titleColor solid 2px;
                }
            }
        }

        .asidePages {
            flex-direction: column;
            position: fixed;
            right: 10px;
            padding-top: 20px;
            animation: translate 3s infinite 0.2s;

            .fa {
                padding: 10px;
                width: 35px;
                font-size: inherit;
            }
        }

    }


    // SECCION DIRECTORES //

    .containerDirectores {
        grid-area: mainPages;
        margin-bottom: 30px;

        a {

            color: $textColor;
            text-decoration: none;

            // HOVER //

            div:hover {
                transform: scale(1.05);
            }

            .hvr-trim-director {
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                position: relative;
            }

            .hvr-trim-director:before {
                content: '';
                position: absolute;
                border: $textColor solid 2px;
                top: 2px;
                left: 2px;
                right: 2px;
                bottom: 2px;
                opacity: 0;
                -webkit-transition-property: opacity;
                transition-property: opacity;
            }

            .hvr-trim-director:hover:before,
            .hvr-trim-director:focus:before,
            .hvr-trim-director:active:before {
                opacity: 1;
            }
        }
    }


    // SECCION CONTACTO //

    .form {
        .formulario {

            animation: form 2s forwards;
    
            @keyframes form {
                0% {
                    transform: translate(-400px, 0);
                }
    
                50% {
                    transform: translate(200px, 0);
                }
    
                100% {
                    transform: translate(0, 0);
                }
            }
    
            .formContacto fieldset {
                width: 500px;
            }
    
        }

    }
    


    .volverInicio {
        grid-area: pie;
        font-size: 16px;
    }

    .paginaError {

        h1 {
            font-size: 50px;
        }

        .tristeza {
            width: 25%;
        }
    }
}